/* Global styles */

body {
    font-family: "Source Serif Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #fafaf8;
}

/* Fix jumping scrollbar when switching to long pages */

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

/* link */

a {
    color: #4072AF;
    text-decoration: none;
    background-color: transparent;
}

a:active, a:hover {
    outline-width: 0;
}

a:hover, a:focus {
    color: #254164;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* button */

.btn-outline-primary {
    color: #4582EC;
    border-color: #4582EC;
}

.btn-outline-primary:hover {
    color: #FFFFFF;
    background-color: #4582EC;
    border-color: #4582EC;
}

/* author */

author {
    font-weight: 600;
    text-decoration: underline;
}

/* landing content */

.landing {
    font-size: 1.44rem;
    line-height: 2.25rem;
}

.landing p {
    margin-bottom: 1.5rem;
}

/* pretty links */

.pretty-links a {
    color: #4072AF;
    text-shadow: 0.04545em 0 0 #fafaf8, 0.09091em 0 0 #fafaf8, 0.13636em 0 0 #fafaf8, -0.04545em 0 0 #fafaf8, -0.09091em 0 0 #fafaf8, -0.13636em 0 0 #fafaf8, 0 0.04545em 0 #fafaf8, 0 0.09091em 0 #fafaf8, 0 -0.04545em 0 #fafaf8, 0 -0.09091em 0 #fafaf8;
    background-image: linear-gradient(#4072AF, #4072AF);
    background-position: 0 1.10em;
    background-size: 1px 1px;
    background-repeat: repeat-x;
    text-decoration: none;
}

.pretty-links a:hover, .pretty-links a:active {
    color: #254164;
    text-decoration: none;
    background-image: linear-gradient(#254164, #254164);
}

.pretty-links a:focus {
    outline: 0;
    transition: none;
    text-shadow: none;
    background: #4072AF;
    color: #fafaf8;
    text-decoration: none;
}

/* horizontal rule */

hr {
    border: 0;
    border-top: 1px solid #e1e9f4;
}

.footer hr {
    margin: 1.3rem 1.52rem 1.3rem 1.52rem;
}

/* selection color */

::-moz-selection {
    background-color: #4072AF;
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: #4072AF;
    color: #fff;
    text-shadow: none;
}

/* Partial: Colors */

.text-patreon {
    color: #F96854 !important;
}

.text-ko-fi {
    color: #DF5000 !important;
}

.text-bmc {
    color: #FF813F !important;
}

/* Partial: Header */

.header a:hover {
    text-decoration: none;
}

.header .logo {
    max-height: 90px;
}

.header h1.name {
    color: #333333;
    font-weight: 600;
    font-size: 2.5rem;
    padding-left: 10px;
}

.header ul.nav li a {
    flex: 0 1 auto;
    margin-right: 0.5rem;
    transition: background 0.1s ease-out;
}

.header ul.nav li a {
    color: #4072AF;
    font-size: 1.25rem;
    padding: 3px 10px 0 10px;
}

.header ul.nav li a:hover {
    color: #4072AF;
    background-color: #e1e9f4;
    text-decoration: none;
}

.header ul.nav li a:focus, .header ul.nav li a:active {
    color: #fff;
    background-color: #4072AF;
    text-decoration: none;
}

/* Partial: Content */

.content .page-heading {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.005rem;
    text-transform: "capitalize";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #333333;
    margin-bottom: 16px;
}

.content h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: 600;
    margin-bottom: 1rem;
}

.content .blog-post-title {
    font-size: 2rem;
}

.content .meta {
    font-size: 1rem;
    color: #738491;
    margin-bottom: 10px;
}

.content .meta a {
    text-decoration: none;
}

.content .middot:before {
    margin: 0 3px;
    content: "·";
}

.content .caption {
    text-align: center;
    margin-top: 10px;
    color: #738491;
    font-size: 0.9rem;
}

.content .markdown {
    font-family: "Source Serif Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    color: #333333;
    line-height: 1.75rem;
}

.content .markdown li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content twitterwidget {
    margin: auto;
}

.content .meta, .content .markdown h1, .content .markdown h2, .content .markdown h3, .content .markdown h4, .content .markdown h5, .content .markdown h6, .content .markdown p, .content .markdown ul, .content .markdown ol, .content .markdown dl, .content .markdown blockquote, .gist-file {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* centered, boxed blog post images */

.content .figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 100%;
}

.content .markdown code, .content .markdown pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    background-color: #f7f7f7;
}

.content .markdown code {
    /* enclosed by single backtick (`) */
    padding: 0.15em 0.5em;
    border-radius: 2px;
}

.content .markdown pre {
    /* Hugo specific: consider using the 'highlight' shortcode */
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    line-height: 1.5em;
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.content .markdown pre code {
    /* enclosed by 4 backticks (````) */
    padding: 0;
    font-size: 0.9rem;
}

.content .markdown blockquote {
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #7a7a7a;
    border-left: 0.25rem solid #e5e5e5;
}

.content .markdown blockquote p:last-child {
    margin-bottom: 0;
}

.content .markdown figure {
    background: #fff;
}

.content .groupby {
    list-style: none;
    color: #333333;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
}

.content .post-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    margin-bottom: 1rem;
}

.content .post-item .meta-date {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #738491;
    line-height: 2rem;
    display: block;
    min-width: 10rem;
}

.content .post-item .meta-title {
    font-size: 1.125rem;
    line-height: 2rem;
    margin-left: -3rem;
}

.content .navigation .icon {
    width: 16px;
    height: 16px;
}

/* Partial: Disqus Comments */

.comments {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 100%;
}

/* Partial: Footer */

.footer a {
    margin-left: 6px;
    margin-right: 6px;
}

.footer a:first-child {
    margin-left: 0;
}

.footer a:last-child {
    margin-right: 0;
}

.site-social ul {
    list-style-type: none;
    padding: 0;
}

.site-social li {
    display: inline-block;
}

.site-social li:not(:last-child)::after {
    content: '|';
    color: #e1e9f4;
    margin: 0 0.3rem 0 0.5rem;
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    html {
        font-size: 0.9rem;
    }
    .content .meta, .content .markdown h1, .content .markdown h2, .content .markdown h3, .content .markdown h4, .content .markdown h5, .content .markdown h6, .content .markdown p, .content .markdown ul, .content .markdown ol, .content .markdown dl, .content .markdown blockquote {
        margin-left: 0;
        margin-right: 0;
    }
}