/* Typography */

@font-face {
    font-display: swap;
    font-family: "Inter Variable";
    src: url("fonts/InterVariable.woff2") format("woff2");
    font-weight: 100 900;
}

@font-face {
    font-display: swap;
    font-family: "Inter Variable";
    src: url("fonts/InterVariable-Italic.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: "Ligalex Mono";
    src: url("fonts/LigalexMono-Text.woff2") format("woff2");
    font-weight: 400;
}

/* Colors derived from @tailwindcss/typography prose-slate */

:root {
    --tw-prose-font-sans-serif: "Inter Variable", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --tw-prose-font-serif: "Inter Variable", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --tw-prose-font-monospace: "Ligalex Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    --tw-prose-body: #0f172a;
    --tw-prose-links: #0f172a;
    --tw-prose-links-hover: #64748b;
    --tw-prose-headings: #0f172a;
    --tw-prose-lead: #475569;
    --tw-prose-captions: #64748b;
    --tw-prose-counters: #64748b;
    --tw-prose-code: #0f172a;
    --tw-prose-pre-bg: #f6f8fa;
    --tw-prose-bullets: #cbd5e1;
    --tw-prose-hr: #e2e8f0;
    --tw-prose-quotes: #0f172a;
    --tw-prose-quote-borders: #e2e8f0;
    --tw-prose-th-borders: #cbd5e1;
    --tw-prose-td-borders: #e2e8f0;
    --tw-bg: #fff;
}

body {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-variant-ligatures: contextual common-ligatures;
    background-color: var(--tw-bg);
}

/* Horizontally centering fixed-width block used together with .mx-auto */
.w-700 {
    width: 784px;
}

/* Fix jumping scrollbar when switching to long pages */

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

/* Link */

a {
    color: var(--tw-prose-links);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: var(--tw-prose-bullets);
    text-underline-offset: 5px;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

a:active,
a:hover {
    outline-width: 0;
}

a:hover,
a:focus {
    color: var(--tw-prose-links-hover);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: var(--tw-prose-links-hover);
}

/* Button */

.btn-outline-primary {
    color: var(--tw-prose-links);
    border-color: var(--tw-prose-links);
}

.btn-outline-primary:hover {
    color: var(--tw-bg);
    background-color: var(--tw-prose-links-hover);
    border-color: var(--tw-prose-links-hover);
}

/* Landing content */

.landing {
    font-size: 1rem;
    line-height: calc(30 / 18);
}

.landing>p:last-child {
    margin-bottom: 0;
}

/* Horizontal rule */

hr {
    border-top: 1px solid var(--tw-prose-hr);
    opacity: 1;
}

.footer hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Selection color */

/* ::-moz-selection {
    background-color: var(--tw-prose-captions);
    color: var(--tw-bg);
    text-shadow: none;
}

::selection {
    background-color: var(--tw-prose-captions);
    color: var(--tw-bg);
    text-shadow: none;
} */

/* Partial: Header */

.header .logo {
    max-height: 126px;
}

.header h1.name {
    font-family: var(--tw-prose-font-serif);
    font-feature-settings: normal;
    font-weight: 600;
    font-size: 3rem;
    font-variation-settings: "opsz" var(--inter-opsz-48-600);
    letter-spacing: var(--inter-ls-48-600);
    margin-left: 8px;
}

.header a {
    color: var(--tw-prose-headings);
    text-decoration: none;
}

.header a:hover,
.header a:focus,
.header a:active {
    color: var(--tw-prose-captions);
}

.header ul.nav li {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 500;
    font-size: 1.75rem;
    font-variation-settings: "opsz" var(--inter-opsz-28-500);
    letter-spacing: var(--inter-ls-28-500);
}

.header ul.nav li a {
    flex: 0 1 auto;
    margin-right: 0.5rem;
}

.header ul.nav li a {
    color: var(--tw-prose-headings);
    padding: 3px 8px 3px 8px;
    position: relative;
}

.header ul.nav li a:hover {
    color: var(--tw-prose-captions);
}

.header ul.nav li a:focus,
.header ul.nav li a:active {
    color: var(--tw-prose-captions);
}

@media (max-width: 767.98px) {
    .header ul.nav li a.active {
        font-family: var(--tw-prose-font-sans-serif);
        font-feature-settings: normal;
        font-weight: 700;
        font-variation-settings: "opsz" var(--inter-opsz-24-700);
        letter-spacing: var(--inter-ls-24-700);
        text-decoration: none;
    }
}

.header ul.nav li a.active:hover {
    color: var(--tw-prose-headings);
}

/* Dynamic hover underline effect */

.header ul.nav li a::after {
    content: '';
    display: block;
    /* Adjust width to account for padding */
    width: calc(100% - 16px);
    /* Set the height of the underline */
    height: 2px;
    background-color: var(--tw-prose-captions);
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* Start with no height */
    transform: scaleY(0);
    /* Grow the line from the bottom */
    transform-origin: bottom;
    /* Start with underline invisible */
    opacity: 0;
    position: absolute;
    /* Position at the bottom of the text */
    bottom: -6px;
    /* Adjust left position to account for padding */
    left: 8px;
}

.header ul.nav li a:hover::after,
.header ul.nav li a:focus::after {
    /* Full height on hover/focus */
    transform: scaleY(1);
    /* Make underline visible on hover/focus */
    opacity: 1;
}

.header ul.nav li a.active::after {
    transform: scaleY(1);
    opacity: 1;
    background-color: var(--tw-prose-headings);
}

/* Navigation on < medium screens */
@media (max-width: 767.98px) {
    .header .logo {
        max-height: 160px;
    }
}

/* Partial: content */

.content h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--tw-prose-font-serif);
    font-feature-settings: normal;
    font-weight: 600;
    color: var(--tw-prose-headings);
    margin-bottom: 1rem;
}

.content h1 {
    font-size: 2rem;
    font-variation-settings: "opsz" var(--inter-opsz-32-600);
    letter-spacing: var(--inter-ls-32-600);
}

.content h2 {
    font-size: 1.75rem;
    font-variation-settings: "opsz" var(--inter-opsz-28-600);
    letter-spacing: var(--inter-ls-28-600);
}

.content h3 {
    font-size: 1.5rem;
    font-variation-settings: "opsz" var(--inter-opsz-24-600);
    letter-spacing: var(--inter-ls-24-600);
}

.content h4 {
    font-size: 1.25rem;
    font-variation-settings: "opsz" var(--inter-opsz-20-600);
    letter-spacing: var(--inter-ls-20-600);
}

.content .meta {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 500;
    font-size: 1.25rem;
    font-variation-settings: "opsz" var(--inter-opsz-20-500);
    letter-spacing: var(--inter-ls-20-500);
    color: var(--tw-prose-lead);
    margin-bottom: 1rem;
}

.content .meta a {
    color: var(--tw-prose-headings);
    text-decoration: none;
}

.content .meta a:hover,
.content .meta a:focus,
.content .meta a:active {
    color: var(--tw-prose-captions);
}

.content .middot:before {
    margin: 0 3px;
    content: "·";
}

.content .markdown {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 400;
    font-size: 1.125rem;
    font-variation-settings: "opsz" var(--inter-opsz-18-400);
    letter-spacing: var(--inter-ls-18-400);
    line-height: calc(30 / 18);
    color: var(--tw-prose-body);
}

.content .markdown ul,
ol,
dl {
    margin-bottom: 1.875rem;
}

.content .markdown li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content twitterwidget {
    margin: auto;
}

/* Blog post typography */

.content .blog-post-title {
    font-family: var(--tw-prose-font-serif);
    font-feature-settings: normal;
    font-weight: 600;
    font-size: 2.5rem;
    font-variation-settings: "opsz" var(--inter-opsz-40-600);
    letter-spacing: var(--inter-ls-40-600);
    line-height: 3.2rem;
}

.content .blog-post-content {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 410;
    font-size: 1.25rem;
    font-variation-settings: "opsz" var(--inter-opsz-20-450);
    letter-spacing: var(--inter-ls-20-450);
    line-height: calc(30 / 18);
}

.content .blog-post-content p {
    margin-bottom: 1.875rem;
}

.content .blog-post-content ol li p {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 400;
    font-variation-settings: "opsz" var(--inter-opsz-18-400);
    letter-spacing: var(--inter-ls-18-400);
}

/* Blog post images: centered, boxed */

/* pandoc < 3.0 */
.content .figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.content .caption {
    font-weight: 450;
    font-size: 1rem;
    font-variation-settings: "opsz" var(--inter-opsz-16-450);
    letter-spacing: var(--inter-ls-16-450);
    color: var(--tw-prose-captions);
    text-align: center;
    margin-top: 0.625rem;
}

/* pandoc >= 3.0 */
.content .float img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.content .figcaption {
    font-weight: 450;
    font-size: 1rem;
    font-variation-settings: "opsz" var(--inter-opsz-16-450);
    letter-spacing: var(--inter-ls-16-450);
    color: var(--tw-prose-captions);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.875rem;
}

/* Tables */
.content .markdown .table>:not(caption)>*>* {
    color: var(--tw-prose-body);
}

.content .markdown .table th {
    color: var(--tw-prose-headings);
}

.content .markdown code,
.content .markdown pre {
    font-family: var(--tw-prose-font-monospace);
    font-weight: 400;
    font-feature-settings: "calt", "liga", "ss02", "ss03";
    background-color: var(--tw-bg);
}

.content .markdown code {
    /* Enclosed by single backtick (`) */
    color: var(--tw-prose-code);
    padding: 2px 5px 3px 5px;
    margin: 0;
    font-size: 1.0625rem;
    background-color: var(--tw-prose-pre-bg);
    border-radius: 6px;
}

.content .markdown pre {
    /* Hugo specific: consider using the 'highlight' shortcode */
    display: block;
    margin-top: 1rem;
    margin-bottom: 2.25rem;
    padding: 1.25rem;
    line-height: 24px;
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid var(--tw-prose-bullets);
    border-radius: 6px;
}

.content .markdown pre code,
.content .markdown pre output {
    /* Enclosed by 4 backticks (````) */
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    background-color: var(--tw-bg);
    border-radius: 0;
}

.content .markdown blockquote {
    padding: 0.5rem 1rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    color: var(--tw-prose-quotes);
    border-left: 4px solid var(--tw-prose-quote-borders);
}

.content .markdown blockquote p:last-child {
    margin-bottom: 0;
}

.content .markdown figure {
    background: var(--tw-bg);
}

.content .groupby {
    font-family: var(--tw-prose-font-serif);
    font-feature-settings: normal;
    font-weight: 600;
    font-size: 1.625rem;
    font-variation-settings: "opsz" var(--inter-opsz-26-600);
    letter-spacing: var(--inter-ls-26-600);
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    color: var(--tw-prose-headings);
    list-style: none;
}

.content .post-item {
    border-bottom: 1px solid var(--tw-prose-hr);
    /* To allow inner-post-item to have bleed */
    overflow: visible;
}

.content .post-item a {
    text-decoration: none;
}

.content .post-item .meta-title {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 500;
    font-size: 1rem;
    font-variation-settings: "opsz" var(--inter-opsz-16-500);
    letter-spacing: var(--inter-ls-16-500);
    line-height: 2.5rem;
}

.content .post-item .meta-date {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 450;
    font-size: 0.9375rem;
    font-variation-settings: "opsz" var(--inter-opsz-15-450);
    letter-spacing: var(--inter-ls-15-450);
    line-height: 2.5rem;
    font-variant-numeric: tabular-nums;
    color: var(--tw-prose-counters);
}

/* Hover effect for post items */
.content .inner-post-item {
    color: var(--tw-prose-body);
    padding: 1rem 1rem;
    margin: -1px -1rem;
    border-radius: 10px;
}

.content .post-item:hover .inner-post-item {
    /* BS5 --bs-secondary-bg */
    background-color: #e9ecef;
}

/* Tags in blog post */
.content .tags li {
    /* Inline list item should not break */
    white-space: nowrap
}

.content .tags li a {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    font-variation-settings: "opsz" var(--inter-opsz-15-500);
    letter-spacing: var(--inter-ls-15-500);
    line-height: calc(50 / 18);
}

.content .tags li a {
    border-radius: 9999px;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: #f1f5f9;
}

.content .tags li a:hover {
    color: #fff;
    background-color: #334155;
}

/* Tags page */
.content .taxonomy-term {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 400;
    font-size: 1.25rem;
    font-variation-settings: "opsz" var(--inter-opsz-20-400);
    letter-spacing: var(--inter-ls-20-400);
    margin-bottom: 1.125rem;
}

/* Previous and next blog post */
.pagination-nav .navigation-btns .col {
    /* Flex container for equal height buttons */
    display: flex;
}

.pagination-nav .btn-equal-height {
    flex: 1;
    /* Allows buttons to grow and ensures equal height */
    display: flex;
    flex-direction: column;
    /* Keeps content aligned to the top */
    justify-content: flex-start;
    /* Aligns text to the left by default */
    text-align: left;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.75rem;
}

.pagination-nav .btn-next .btn-content {
    /* Right-align text for the "Next" button */
    text-align: right;
}

.pagination-nav .row.navigation-btns {
    /* Ensure the row behaves as a flex container */
    display: flex;
}

.pagination-nav .btn-outline-nav {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 400;
    font-size: 1rem;
    font-variation-settings: "opsz" var(--inter-opsz-16-400);
    letter-spacing: var(--inter-ls-16-400);
    text-decoration: none;
    border: 1px solid var(--tw-prose-bullets);
    border-radius: 0.4rem;
    transition: border-color 200ms cubic-bezier(0.08, 0.52, 0.52, 1);
}

.pagination-nav .btn-outline-nav:hover {
    border-color: var(--tw-prose-counters);
}

.pagination-nav .btn-outline-nav:active {
    background-color: var(--tw-prose-hr);
}

.pagination-nav .btn-outline-nav:active .pagination-nav-label {
    color: var(--tw-prose-links-hover);
}

.pagination-nav .pagination-nav-sublabel {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 600;
    font-size: 1rem;
    font-variation-settings: "opsz" var(--inter-opsz-16-600);
    letter-spacing: var(--inter-ls-16-600);
    color: var(--tw-prose-captions);
}

.pagination-nav .pagination-nav-label {
    font-size: 0.875rem;
    font-weight: 500;
    font-variation-settings: "opsz" var(--inter-opsz-14-500);
    letter-spacing: var(--inter-ls-14-500);
    color: var(--tw-prose-links);
    margin-top: 0.5rem;
}

/* Partial: Utterances comments */

.utterances {
    max-width: 100%;
}

/* Partial: footer */

.footer {
    font-family: var(--tw-prose-font-sans-serif);
    font-feature-settings: normal;
    font-weight: 450;
    font-size: 1.125rem;
    font-variation-settings: "opsz" var(--inter-opsz-18-450);
    letter-spacing: var(--inter-ls-18-450);
}

.footer a {
    color: var(--tw-prose-captions);
    text-decoration: none;
}

.footer a:hover,
a:focus {
    color: var(--tw-prose-body);
}

.footer a:first-child {
    margin-left: 0;
}

.footer a:last-child {
    margin-right: 6px;
}

.site-copyright {
    color: var(--tw-prose-captions);
    min-width: 16em;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
    line-height: 2;
}

.social-links li {
    display: inline-block;
}

.social-links li:not(:last-child)::after {
    content: '';
    color: var(--tw-prose-captions);
    margin: 0 8px 0 8px;
}

.footer a .svg-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: var(--tw-prose-captions);
    transition: all .2s ease-in-out;
}

.footer a:hover .svg-icon,
.footer a:focus .svg-icon {
    fill: var(--tw-prose-body);
}

/* Screens < medium */

@media (max-width: 767.98px) {
    html {
        font-size: 1rem;
    }
}